<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- stylesheet -->
	<link rel="stylesheet" href="source/css/common.css">
	<link rel="stylesheet" href="source/css/cy.css">
	<link rel="stylesheet" href="source/css/al.css">

	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/jquery-confirm2/css/jquery-confirm.css" />
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
	<!-- endbower -->
	
</head>
<body ng-app="myApp">
	<h1>webapp-CLI is success run. Have a fun codeing.</h1>
	<div ui-view></div>
</body>

	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
	<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/jquery-confirm2/js/jquery-confirm.js"></script>
	<script src="bower_components/neuecc-linq-2.2.0.2/linq.js"></script>
	<script src="bower_components/echarts/dist/echarts.js"></script>
	<script src="bower_components/echarts/map/js/china.js"></script>
	<script src="bower_components/echarts/map/js/province/shanghai.js"></script>
	<!-- endbower -->

	<!-- pageSource -->
	<script src="source/service/app.js"></script>
	<script src="source/service/router.js"></script>
	<script src="source/service/myFilter.js"></script>
	<script src="source/service/authcInteceptor.js"></script>
	<script src="source/directive/directive.js"></script>
	<script src="source/controller/mainCtrl.js"></script>
	
</html>