<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- stylesheet -->
	<link rel="stylesheet" href="source/css/common.css">
	<link rel="stylesheet" href="source/css/cy.css">
	<link rel="stylesheet" href="source/css/al.css">
	
</head>
<body ng-app="myApp">
	<h1>webapp-CLI is success run. Have a fun coding.</h1>
	<div ui-view></div>
</body>

	<!-- inject:js -->
	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-resource/angular-resource.js"></script>
	<script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<!-- endinject -->

	<!-- pageSource -->
	<script src="source/service/app.js"></script>
	<script src="source/service/router.js"></script>
	<script src="source/service/myFilter.js"></script>
	<script src="source/service/authcInteceptor.js"></script>
	<script src="source/directive/directive.js"></script>
	<script src="source/controller/mainCtrl.js"></script>

</html>